* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body 
{
    width: 100%;
    height: 100vh;
    background-color: #0a2b41;

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fill-in 0.5s ease forwards 3s;

        path {
            &:nth-child(2) {
                stroke-dasharray: 572;
                stroke-dashoffset: 572;
                animation: line-anim 2.5s ease forwards;
            }

            &:nth-child(3) {
                stroke-dasharray: 464;
                stroke-dashoffset: 464;
                animation: line-anim 2.5s ease forwards 0.2s;
            }

            &:nth-child(4) {
                stroke-dasharray: 494;
                stroke-dashoffset: 494;
                animation: line-anim 2.5s ease forwards 0.4s;
            }

            &:nth-child(5) {
            stroke-dasharray: 227;
            stroke-dashoffset: 227;
            animation: line-anim 2.5s ease forwards 0.6s;
            }

            &:nth-child(6) 
            {
            stroke-dasharray: 636;
            stroke-dashoffset: 636;
            animation: line-anim 2.5s ease forwards 0.8s;    
            }

            &:nth-child(7) {
                stroke-dasharray: 605;
                stroke-dashoffset: 605; 
                animation: line-anim 2.5s ease forwards 1s;       
            }

            &:nth-child(8) {
                stroke-dasharray: 464;
                stroke-dashoffset: 464;
                animation: line-anim 2.5s ease forwards 1.2s;
            }
            &:nth-child(9) {
                stroke-dasharray: 550;
                stroke-dashoffset: 550;
                animation: line-anim 2.5s ease forwards 1.4s;
            }

            // &:nth-child(n+1)
            // {
            //     animation: line-anim 2.5s ease forwards;
            // }
        }
    }
}

@keyframes line-anim
{
    to
    {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-in
{
    from
    {
        fill: transparent;
    }
    to
    {
        fill: #ffff !important;
    }
}